// @import "../node_modules/bootstrap/scss/bootstrap";


@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import 'listas';


//  Variables 

$bgHome: black ;
$paddingGeneral: 20px;
$colorNavText: white;
$colorNavHover: rgba(47, 0, 255, 0.418);
$colorInicioTit: #00b3ff;
$navbar-light-color: rgba(0, 0, 0, 0.144);  
$colorLineas: rgb(102, 156, 255);
$colorFondo: #c5e3ffe3;
$fuenteTexto:  'Roboto', sans-serif;
$fuenteNav: 'Poppins', sans-serif;
$fuenteTit: 'Fruktur', cursive;
$colorTitClase: rgb(255, 255, 255);
$colorTitPerso: rgb(102, 156, 255);
$colorRelacionesGeneral: rgb(255, 255, 255);
$colorHabilidadGeneral: rgb(255, 255, 255);
$colortitRelaciones: rgb(102, 156, 255);
$colorTitSubClase: rgb(102, 156, 255);
$shadowText: 1px 1px rgb(0, 0, 0);
$espesorTexto: 500;
$colorBoxDerechaInicio: rgb(0, 0, 0);
$colorTitVidOpening: rgb(255, 255, 255); 
$colorTexto: rgb(0, 0, 0);   
$colorBorderNavCont: rgb(0,0,0);  
$colorDropMenuMod:rgba(54, 54, 54, 0.342);  
$colorDropMenuText: nth($colores,1 );
$colortitHabilidad: rgb(102, 156, 255);
$colordescTitHabilidad: rgb(102, 156, 255);
$colorTipoHabilidad: rgba(47, 0, 255, 0.788);
$colorTextBorder: rgb(0, 0, 0);

